target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
*.class
*.log
logs/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
Thumbs.db
*.swp
*.swo
.factorypath
