<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujian.admin.mapper.BizPatientTagRelMapper">

    <delete id="deleteByPatientId">
        DELETE FROM t_patient_tag_rel WHERE patient_id = #{patientId}
    </delete>

    <select id="selectTagIdsByPatientId" resultType="java.lang.Long">
        SELECT tag_id FROM t_patient_tag_rel WHERE patient_id = #{patientId}
    </select>
</mapper>
